/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";


.wd100 {
  width: 100%;
}

.wd80{
  width: 80%;
}

.wd50 {
  width: 50%;
}
